<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Calc App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding >
  
    <ion-input placeholder="0"
               type="text" 
               name="display"
               [(ngModel)]="uiInputs">
             
    </ion-input>
  <ion-row  center text-center>
    <ion-col>
        <ion-button (click)="numInput('7')" color=light>7</ion-button>
        <ion-button (click)="numInput('8')" color=light>8</ion-button>
        <ion-button (click)="numInput('9')" color=light>9</ion-button>
        <ion-button (click)="operatorInput('*')" color=light class="operator">x</ion-button>
      </ion-col>
    </ion-row>
    <ion-row  center text-center> 
      <ion-col>
        <ion-button (click)="numInput('4')" color=light>4</ion-button>
        <ion-button (click)="numInput('5')" color=light>5</ion-button>
        <ion-button (click)="numInput('6')" color=light>6</ion-button>
        <ion-button (click)="operatorInput('/')" color=light>/</ion-button>
      </ion-col>
    </ion-row>
    <ion-row  center text-center>
      <ion-col>
        <ion-button (click)="numInput('1')" color=light>1</ion-button>
        <ion-button (click)="numInput('2')" color=light>2</ion-button>
        <ion-button (click)="numInput('3')" color=light>3</ion-button>
        <ion-button (click)="operatorInput('+')" color=light>+</ion-button>
        <!-- <ion-button (click)="getLastRes()">Ans</ion-button> -->
      </ion-col>
    </ion-row>
    <ion-row  center text-center>
      <ion-col>
        <!-- <ion-button (click)="addToCalculation('.')" color=light>.</ion-button> -->
        <ion-button (click)="onClearInput()" color=danger>C</ion-button>
        <ion-button (click)="numInput('0')" color=light>0</ion-button>
        <ion-button (click)="onCalcResult()" color=secondary>=</ion-button>
        <ion-button (click)="operatorInput('-')" color=light>-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row center text-center>
      <ion-col>
          <ion-button (click)="onSaveRes()" color="primary">Save</ion-button>
          <ion-button (click)="onHistoryPage()">History</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
